// *::selection {
//   background-color: transparent;
// }
button:focus {
  outline:0;
}

body {
  background-color: #e2e2e2; //#3a4149;
}

#root {
  height: 100%;
}


.App {
  height: 100%;
  display: flex;
  flex-direction: column;
  
  .ui.container {
    background-color: white; //#1a1e27;
    margin: 0 12px !important;
    padding: 10px 14px;
    border: 1px solid #b1b1b1;
    border-radius: 6px;
    height: 100%;
    display: flex;
    flex-direction: column;

    &:nth-child(1) {
      box-shadow: #909090 -1px 4px 7px 1px;
    }
    &:nth-child(2) {
      box-shadow: #909090 0px 4px 7px 1px;
    }
    &:nth-child(3) {
      box-shadow: #909090 1px 4px 7px 1px;
    }




    h2 {
      text-align: center;
      position: relative;

      .tutorialModal.main {
        position: absolute;
        top: 0;
        right: 0;
      }
    }

    fieldset {
      padding: 0;

      legend {
        padding: 0 3px;
        font-size: 13px;
        color: #adadad;
        font-weight: 600;
      }
    }

    .form {
      border-radius: 2px;
      box-shadow: #efefef 0px 0px 1px 1px;
      border: 1px solid #d2d2d2;
      padding: 3px 9px 12px;

      flex-grow: 1;
      display: flex;
      flex-direction: column;

      button.base-button {
        padding: 0 24px;
        margin-left: 5px;
      }

      .form-title {
        font-size: 12px;
      }

      
    
    } //(unwrapped input out of form for now)

      .code-container {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        height: 100%;
      }
    
      .input, .output {

        margin: 4px auto;
        width: 100%;

        input[type='text'] {
          background-color: white;
          font-size: 16px;
          padding: 8px 14px;
          border: 1px solid #d8d8d8;
          border-radius: 2px;
          display: inline-block;
          width: 100%;
          
          
          transition: all 0.5s ease;

          &:focus {
            box-shadow: rgba(206, 229, 253, 0.8) 0px 0px 3px 1px;
            border: 1px solid #c1c0c0;
            outline: none;
          }

          &::selection {
            background-color: transparent;
          }
        }

        label {
          color: #505050;
          font-size: 12px;
        }
      }

    //}

    


    //Black theme:
    // background-color: #1a1e27;
    // border-color: #e0e0e0;
    // color: white;
    // box-shadow: #bbbbbb 0px 0px 6px 1px;

    // .items-list-item {

    //   &:last-child {
    //     border-bottom: 1px dashed white;
    //   }


    //   &:hover, &.selected {
    //     background-color: #f1f1f1;
    //     //border-color: #dbdbdb;
    //     color: black;
    //   }

    //   &.selected {
    //     border-color: #cecece;
    //   }
    // }
  }



  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40vmin;
  }

  .App-main-container {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    min-height: 600px;
    height: 100%;
  }

  .App-header {
    //background-color: #282c34;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: #191919;
    padding-top: 18px;
    padding-bottom: 24px;

    h2 {
      margin-top: 8px;
    }

    h4 {
      margin-top: 10px
    }

  }

  .App-footer {
    padding: 10px 0;
    text-align: center;
  }



  .App-link {
    color: #61dafb;
  }

  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
}